* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-container {
    background: url('./assets/Background_img_header.jpg') no-repeat center center; 
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 100vh;

}

.header-container nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    border-bottom: 1px solid rgba(216, 213, 213, 0.6);

}

.nav-bar div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.nav-bar div:first-child {
    width: 45%;
}

.nav-bar div:last-child {
    width: 15%;
}

.space-nav {
    width: 20px;
}

.nav-bar a {
    color: whitesmoke;
    font-weight: bold;
}

.logo-div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    width: 90px;
    height: 100%;
    
}

.logo-div div {
    width: 90px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 1px;
}

.logo-div p {
    height: 26%;
    width: 90px;
    text-align: center;
    padding-top: 4px;
    background-color: whitesmoke;
}

.logo-div img{
    width: 45px;
    height: 45px;
}

.car-bg-img {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 78vh;
}

.div-info-newcar {
    color: whitesmoke;
    font-weight: bold;
    height: fit-content;
    display: flex;
    flex-flow: column;
}

.div-info-newcar h1{
    font-size: 3.2rem;
}

.div-info-newcar h2 {
    font-size: 1.75rem;
    margin-bottom: 4px;
}

.div-info-newcar a {
    height: 50px;
    width: 280px;
    padding-top: 18px;
    font-size: 14px;
    background-color: rgb(66,133,244);
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
}